.sectionType01 { padding-top:15px; padding-bottom:15px; }
.sectionType01 .boxTarjaTitle { padding:11px 16px;  }
.sectionType01 .boxTarjaTitle b { color:white; font-size:20px; }
.sectionType01 .boxTarjaTitle a { color:white; font-size:14px; }
.sectionType01 .boxTarjaTitle a:hover { text-decoration:none; }
.sectionType01 .boxTarjaTitle a span { font-size:20px; position:relative; top:2px; }
.sectionType01 .boxColor1 { background-color:#0055AA; }
.sectionType01 .boxColor2 { background-color:#003264; }
.sectionType01 .boxContainer { margin-top: 20px; }
.sectionType01 .boxContainer .boxBgGray { background-color: #EEEEEE; }
.sectionType01 .boxContainer .boxBorda { border: 1px solid #DDDDDD; }
.sectionType01 .boxContainer .boxData { width:82px; background-color: #0055AA;     padding: 12px; float:left; margin-right:5%; }
.sectionType01 .boxContainer .boxData .diaemes { font-size:16px; color:white; text-align:center; }
.sectionType01 .boxContainer .boxData .ano { font-size:20px; color:white; text-align:center; }
.sectionType01 .boxContainer .boxTexto { font-size:16px; color:#4B4B4C; line-height: 120%; display: block; padding: 6px 10px 10px 10px;}
.sectionType01 .boxContainer .boxSubTexto {     padding: 0px 10px 10px 10px; font-size:14px; color:#888888; line-height: 120%; }
.sectionType01 .boxContainer .boxImage { margin:4.3%;  }
.sectionType01 .boxContainer .boxImage img { width: 100%; object-fit: cover; object-position: center; height: 129px; }
.sectionType01 .boxContainer .boxTitulo { margin:4.3%; font-size:16px; color:#111111; line-height:120%; }

/* Responsive  */
@media all and (max-width: 991px) { 
  .sectionType01 .responsive-margin { margin-bottom:20px; }
}
@media all and (max-width: 767px) { 
  .sectionType01 .col-md-6:first-child { margin-bottom:20px; }
  .sectionType01 .boxContainer .boxImage img { height: 200px; }
  .sectionType01 .boxContainer .boxData { margin-right: 3%; }
}
@media all and (max-width: 375px) { 
  .sectionType01 .boxContainer .boxImage img { height: 150px; }
  .sectionType01 .boxContainer .boxData { width: 70px; padding: 8px; }
  .sectionType01 .boxContainer .boxData .diaemes { font-size: 13px; }
  .sectionType01 .boxContainer .boxData .ano { font-size: 18px; }
}


