.card{
    width: 200px;
    margin: 10px;
    height: 200px;
    padding-bottom: 10px;
    margin-top: 15rem;
}
.card img{
    height: 115px;
}
.card h5{
    color: #222;
    text-align: center;
}

h5:hover{
    text-decoration: none;
}