
.nav-cu a{
    color: #222;
    margin-right: 23px;
    font-size: 20px;
}
.log-in-btn{
    color: ivory !important;
}
.nav-cu span{
    font-size: 20px;
    font-weight: 600;
}
a:hover {
    text-decoration:none !important;
    cursor:pointer;
    color:#222 !important;
    
}

a.logo{
    font-size: 30px;
}

