main{
    padding-bottom: 24rem;
    background-image: url('https://maxcdn.icons8.com/app/uploads/2019/06/digital-illustration-brian-edward-miller-3-1024x768.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: red;
}

.mt-15{
   padding-top: 15rem; 
}











